@charset "utf-8";
.dk-panel {
  .panel-container {
    .panel-top {
      height: 44px;
      line-height: 44px;
      background: #f8f8f8;
      border-bottom: 1px solid #e8e8e8;
      padding: 0 15px;
    }
    .panel-content {
      background: #fff;
    }
  }
}