@charset "utf-8";
@import "../../theme/style";

@panel: ~"@{prefix}-panel";

.@{panel} {
  .@{panel}-container {}
  .@{panel}-header {
    height: 44px;
    line-height: 44px;
    background: #f8f8f8;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 15px;
  }
  .@{panel}-body {
    background: #fff;
  }
  .@{panel}-footer {
    background: #f8f8f8;
  }
}