@charset "utf-8";
@import "../../theme/style";

@radio: ~"@{prefix}-radio";

.@{radio} {
  &-container {
    position: relative;
    display: inline-block;
  }
  /* override */
  .@{prefix}-check-radio {
    float: left;
    margin: 8px 6px 0 0;
  }
}