@charset "utf-8";
@import "../../theme/style";

@radio: ~"@{prefix}-radio";

.@{radio} {
  .@{radio}-container {
    display: inline-block;
  }
  input {
    display: none;
  }
  label {
    cursor: pointer;
  }
  input[disabled] + label {
    cursor: not-allowed;
  }
  /* override */
  .@{icon-radio} {
    float: left;
    margin: 8px 6px 0 0;
  }
}