@charset "utf-8";
.dk-button {
  display: inline-block;
  button {
    height: 33px;
    padding: 0 15px;
    border-radius: 4px;
    border-radius: 4px;
    border: 1px;
    outline: none;
    &.dk-btn-primary {
      color: #fff;
      background-color: #1890ff;
      border-color: #1890ff;
      &:hover {
        cursor: pointer;
        box-shadow: 0 0 4px #1890ff;
      }
    }
    &.dk-btn-danger {
      color: #fff;
      background-color: #ff4d4f;
      border-color: #ff4d4f;
      &:hover {
        cursor: pointer;
        box-shadow: 0 0 4px #ff4d4f;
      }
    }
  }
}