@charset "utf-8";
@import "../../theme/style";

@img: ~"@{prefix}-img";

.@{img} {
  .@{img}-container {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
  }
  img {
    vertical-align: top;
  }
}