@charset "utf-8";
@import "../../theme/style";

@toast: ~"@{prefix}-toast";

.@{toast} {
  position: fixed;
  margin: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 80px;
  height: 0;
  text-align: center;
  &-container {
    display: inline-block;
    .@{prefix-inner}item {
      padding: 10px;
      margin: 20px 0;
      box-shadow: 4px 4px 20px rgba(0,0,0,0.15);
      border-radius: 4px;
      background: #fff;
      .fa {
        font-size: 18px;
        margin-right: 5px;
        vertical-align: top;
        color: #999;
        &.info {
          color: @theme-color;
        }
        &.warn {
          color: yellow;
        }
        &.error {
          color: red;
        }
        &.success {
          color: red;
        }
      }
    }
  }
}