@charset "utf-8";
@import "../../theme/style";

@select: ~"@{prefix}-select";

.@{select} {
  &-container {
    display: inline-block;
  }
  &-input {
  }
  /* override */
  .@{icon-arrow-y} {
    float: right;
    margin-top: -2px;
  }
}

/* for partols */
.@{select}-options {
  display: none;
  position: absolute;
  left: 0;
  top: 34px;
  z-index: 99;
  width: 100%;
  color: @font-color;
  background: #fff;
  box-shadow: @box-shadow-pop;
  border: 1px solid @border-color;
  border-radius: @border-radius-size;
  box-sizing: border-box;
  overflow-y: auto;
  ul {
    list-style: none;
    li {
      list-style: none;
      line-height: @height-form-item;
      color: rgba(0,0,0, 0.65);
      padding: 0 8px;
      &:hover {
        cursor: pointer;
        background: @background-color;
      }
      &.curr {
        color: @theme-color;
      }
    }
  }
  .@{prefix-inner}empty {
    text-align: center;
    padding: 30px 0;
    color: #e2e2e2;
    .fa {
      font-size: 50px;
    }
    span {
      display: block;
    }
  }
  .@{prefix-inner}pager {
    text-align: center;
    border-top: 1px solid @border-color;
    box-sizing: border-box;
    line-height: @height-form-item;
    font-size: 12px;
    a {
      display: inline-block;
      width: 50px;
      text-decoration: none;
      color: #444;
      &:hover {
        color: @theme-color;
      }
      &.@{prefix-inner}pre {
        float: left;
      }
      &.@{prefix-inner}next {
        float: right;
      }
    }
  }
  /* override */
  .@{icon-check} {
    float: right;
  }
}