@charset "utf-8";
@import "../../theme/style";

@select: ~"@{prefix}-select";

.@{select} {
  &-container {
    position: relative;
    display: inline-block;
  }
  &-input {
  }
  &-options {
    position: absolute;
    left: 0;
    top: 34px;
    z-index: 99;
    width: 100%;
    color: @font-color;
    background: #fff;
    box-shadow: @box-shadow-pop;
    border: 1px solid @border-color;
    border-radius: @border-radius-size;
    box-sizing: border-box;
    overflow-y: auto;
    ul {
      list-style: none;
      li {
        list-style: none;
        line-height: @height-form-item;
        color: rgba(0,0,0, 0.65);
        padding: 0 8px;
        &:hover {
          cursor: pointer;
          background: @background-color;
        }
        &.curr {
          color: @theme-color;
        }
      }
    }
  }
  &-options-empty {
    color: @color-gray;
    text-align: center;
    padding: 50px 0;
  }
  &-page {
    text-align: center;
    border-top: 1px solid @border-color;
    box-sizing: border-box;
    line-height: @height-form-item;
    a {
      display: inline-block;
      width: 50px;
      text-decoration: none;
      color: #444;
      &:hover {
        color: @theme-color;
      }
      &.pre {
        float: left;
      }
      &.next {
        float: right;
      }
    }
  }
  /* override */
  .@{prefix}-arrow-split-y {
    float: right;
    margin-top: -2px;
  }
  .@{prefix}-check {
    float: right;
  }
}