@charset "utf-8";
@import "../../theme/style";
.dk-bread {
  background: @background-color;
  border-bottom: 1px solid @border-color;
  padding: 0 8px;
  .dk-bread-item {
    display: inline-block;
    line-height: 40px;
    &:after {
      margin: 0 8px;
      color: #999;
    }
    &.arrow {
      &:after {
        content: '>';
      }
    }
    &.slash-left {
      &:after {
        content: '/';
      }
    }
    &.slash-right {
      &:after {
        content: '\\';
      }
    }
    &:last-child {
      &:after {
        content: '';
      }
    }
  }
  .dk-link, .dk-span {
    display: inline-block;
  }
}
