@charset "utf-8";
@import "../../style/index";

@upload: ~"@{prefix}-upload";

.@{upload} {
  .@{upload}-container {
    overflow: hidden;
  }
  .@{upload}-text {
    color: @theme-color;
    &:hover {
      cursor: pointer;
    }
  }
  .@{upload}-item {
    display: inline-block;
    vertical-align: top;
  }
}
