@charset "utf-8";
/* prefix */
@prefix: dk;
@prefix-inner: ____;

/* color */
@color-blue: #1890ff;
@color-green: #5FB878;
@color-white: #ffffff;
@color-gray: #009688;
@color-red: #ff4d4f;
@color-disabled: #99999999;

/* border color */
@border-color: #e2e2e2;
@border-color-focus: #e2e2e2;
@border-color-hover: #c0c4cc;
@border-color-disabled: #e2e2e2;

/* theme color */
@background-color: #f8f8f8;
@font-color: #333;
@theme-color: @color-blue;

/* border */
@border-radius-size: 4px;

@box-shadow-focus: 0 0 8px #e8e8e8;
@box-shadow-hover: 0 0 8px #e8e8e8;
@box-shadow-disabled: 0;
@box-shadow-pop: 0 0 8px #e8e8e8;

/* formItem、table、pager */
@height-form-item: 33px;
@height-table-th: 40px;
@height-table-td: 35px;
@height-pager: 30px;

/* z-index */
@z-index-list: 99;
@z-index-toast: 999;
@z-index-modal: 998;
@z-index-tooltip: 99;

/* banner */

/* block */

/* bread */

/* button */

/* carousel */

/* checkbox */

/* date */

/* form */

/* frame */

/* group */

/* html */

/* icon */

/* iframe */

/* img */

/* input */

/* item */

/* link */

/* loading */

/* menu */

/* modal */

/* pager */

/* panel */

/* progress */

/* radio */

/* select */

/* slide */

/* span */

/* switch */

/* tab */

/* table */

/* tabs */

/* textarea */

/* toast */

/* tooltip */

/* transfer */

/* tree */

/* upload */
