@charset "utf-8";
@import "../theme/style";
.dk-form-control {
  outline: none;
  padding: 0 7px;
  height: 31px;
  width: 180px;
  border: 1px solid @border-color;
  border-radius: @border-radius;
  color: #444;
  &:hover {
    border: 1px solid @theme-color;
    box-shadow: 0 0 4px #e8e8e8;
  }
  &.error {
    border: 1px solid @color-red;
  }
  &.small {
    width: 80px;
  }
  &.middle {
    width: 180px;
  }
  &.large {
    width: 280px;
  }
}
.dk-form-control[disabled] {
  opacity: .5;
  &:hover {
    cursor: not-allowed;
    border: 1px solid @border-color;
    box-shadow: none;
  }
}