@charset "utf-8";

@import "../theme/style";

@media (min-width: 576px) {
  .@{prefix}-xs1, .@{prefix}-xs2, .@{prefix}-xs3,
  .@{prefix}-xs4, .@{prefix}-xs5, .@{prefix}-xs6,
  .@{prefix}-xs7, .@{prefix}-xs8, .@{prefix}-xs9,
  .@{prefix}-xs10, .@{prefix}-xs11, .@{prefix}-xs12,
  .@{prefix}-xs13, .@{prefix}-xs14, .@{prefix}-xs15,
  .@{prefix}-xs16, .@{prefix}-xs17, .@{prefix}-xs18,
  .@{prefix}-xs19, .@{prefix}-xs20, .@{prefix}-xs20,
  .@{prefix}-xs22, .@{prefix}-xs23, .@{prefix}-xs24 {
    display: inline-block;
  }
  .@{prefix}-xs1 { width: 4.167%; }
  .@{prefix}-xs2 { width: 8.333%; }
  .@{prefix}-xs3 { width: 12.500%; }
  .@{prefix}-xs4 { width: 16.667%; }
  .@{prefix}-xs5 { width: 20.833%; }
  .@{prefix}-xs6 { width: 25.000%; }
  .@{prefix}-xs7 { width: 29.167%; }
  .@{prefix}-xs8 { width: 33.333%; }
  .@{prefix}-xs9 { width: 37.500%; }
  .@{prefix}-xs10 { width: 41.667%; }
  .@{prefix}-xs11 { width: 45.833%; }
  .@{prefix}-xs12 { width: 50.000%; }
  .@{prefix}-xs13 { width: 54.167%; }
  .@{prefix}-xs14 { width: 58.333%; }
  .@{prefix}-xs15 { width: 62.500%; }
  .@{prefix}-xs16 { width: 66.667%; }
  .@{prefix}-xs17 { width: 70.833%; }
  .@{prefix}-xs18 { width: 75.000%; }
  .@{prefix}-xs19 { width: 79.167%; }
  .@{prefix}-xs20 { width: 83.333%; }
  .@{prefix}-xs21 { width: 87.500%; }
  .@{prefix}-xs22 { width: 91.667%; }
  .@{prefix}-xs23 { width: 95.833%; }
  .@{prefix}-xs24 { width: 100.000%; }
}

@media (min-width: 768px) {
  .@{prefix}-sm1, .@{prefix}-sm2, .@{prefix}-sm3,
  .@{prefix}-sm4, .@{prefix}-sm5, .@{prefix}-sm6,
  .@{prefix}-sm7, .@{prefix}-sm8, .@{prefix}-sm9,
  .@{prefix}-sm10, .@{prefix}-sm11, .@{prefix}-sm12,
  .@{prefix}-sm13, .@{prefix}-sm14, .@{prefix}-sm15,
  .@{prefix}-sm16, .@{prefix}-sm17, .@{prefix}-sm18,
  .@{prefix}-sm19, .@{prefix}-sm20, .@{prefix}-sm20,
  .@{prefix}-sm22, .@{prefix}-sm23, .@{prefix}-sm24 {
    display: inline-block;
  }
  .@{prefix}-sm1 { width: 4.167%; }
  .@{prefix}-sm2 { width: 8.333%; }
  .@{prefix}-sm3 { width: 12.500%; }
  .@{prefix}-sm4 { width: 16.667%; }
  .@{prefix}-sm5 { width: 20.833%; }
  .@{prefix}-sm6 { width: 25.000%; }
  .@{prefix}-sm7 { width: 29.167%; }
  .@{prefix}-sm8 { width: 33.333%; }
  .@{prefix}-sm9 { width: 37.500%; }
  .@{prefix}-sm10 { width: 41.667%; }
  .@{prefix}-sm11 { width: 45.833%; }
  .@{prefix}-sm12 { width: 50.000%; }
  .@{prefix}-sm13 { width: 54.167%; }
  .@{prefix}-sm14 { width: 58.333%; }
  .@{prefix}-sm15 { width: 62.500%; }
  .@{prefix}-sm16 { width: 66.667%; }
  .@{prefix}-sm17 { width: 70.833%; }
  .@{prefix}-sm18 { width: 75.000%; }
  .@{prefix}-sm19 { width: 79.167%; }
  .@{prefix}-sm20 { width: 83.333%; }
  .@{prefix}-sm21 { width: 87.500%; }
  .@{prefix}-sm22 { width: 91.667%; }
  .@{prefix}-sm23 { width: 95.833%; }
  .@{prefix}-sm24 { width: 100.000%; }
}
@media (min-width: 992px) {
  .@{prefix}-md1, .@{prefix}-md2, .@{prefix}-md3,
  .@{prefix}-md4, .@{prefix}-md5, .@{prefix}-md6,
  .@{prefix}-md7, .@{prefix}-md8, .@{prefix}-md9,
  .@{prefix}-md10, .@{prefix}-md11, .@{prefix}-md12,
  .@{prefix}-md13, .@{prefix}-md14, .@{prefix}-md15,
  .@{prefix}-md16, .@{prefix}-md17, .@{prefix}-md18,
  .@{prefix}-md19, .@{prefix}-md20, .@{prefix}-md20,
  .@{prefix}-md22, .@{prefix}-md23, .@{prefix}-md24 {
    display: inline-block;
  }
  .@{prefix}-md1 { width: 4.167%; }
  .@{prefix}-md2 { width: 8.333%; }
  .@{prefix}-md3 { width: 12.500%; }
  .@{prefix}-md4 { width: 16.667%; }
  .@{prefix}-md5 { width: 20.833%; }
  .@{prefix}-md6 { width: 25.000%; }
  .@{prefix}-md7 { width: 29.167%; }
  .@{prefix}-md8 { width: 33.333%; }
  .@{prefix}-md9 { width: 37.500%; }
  .@{prefix}-md10 { width: 41.667%; }
  .@{prefix}-md11 { width: 45.833%; }
  .@{prefix}-md12 { width: 50.000%; }
  .@{prefix}-md13 { width: 54.167%; }
  .@{prefix}-md14 { width: 58.333%; }
  .@{prefix}-md15 { width: 62.500%; }
  .@{prefix}-md16 { width: 66.667%; }
  .@{prefix}-md17 { width: 70.833%; }
  .@{prefix}-md18 { width: 75.000%; }
  .@{prefix}-md19 { width: 79.167%; }
  .@{prefix}-md20 { width: 83.333%; }
  .@{prefix}-md21 { width: 87.500%; }
  .@{prefix}-md22 { width: 91.667%; }
  .@{prefix}-md23 { width: 95.833%; }
  .@{prefix}-md24 { width: 100.000%; }
}
@media (min-width: 1200px) {
  .@{prefix}-lg1, .@{prefix}-lg2, .@{prefix}-lg3,
  .@{prefix}-lg4, .@{prefix}-lg5, .@{prefix}-lg6,
  .@{prefix}-lg7, .@{prefix}-lg8, .@{prefix}-lg9,
  .@{prefix}-lg10, .@{prefix}-lg11, .@{prefix}-lg12,
  .@{prefix}-lg13, .@{prefix}-lg14, .@{prefix}-lg15,
  .@{prefix}-lg16, .@{prefix}-lg17, .@{prefix}-lg18,
  .@{prefix}-lg19, .@{prefix}-lg20, .@{prefix}-lg20,
  .@{prefix}-lg22, .@{prefix}-lg23, .@{prefix}-lg24 {
    display: inline-block;
  }
  .@{prefix}-lg1 { width: 4.167%; }
  .@{prefix}-lg2 { width: 8.333%; }
  .@{prefix}-lg3 { width: 12.500%; }
  .@{prefix}-lg4 { width: 16.667%; }
  .@{prefix}-lg5 { width: 20.833%; }
  .@{prefix}-lg6 { width: 25.000%; }
  .@{prefix}-lg7 { width: 29.167%; }
  .@{prefix}-lg8 { width: 33.333%; }
  .@{prefix}-lg9 { width: 37.500%; }
  .@{prefix}-lg10 { width: 41.667%; }
  .@{prefix}-lg11 { width: 45.833%; }
  .@{prefix}-lg12 { width: 50.000%; }
  .@{prefix}-lg13 { width: 54.167%; }
  .@{prefix}-lg14 { width: 58.333%; }
  .@{prefix}-lg15 { width: 62.500%; }
  .@{prefix}-lg16 { width: 66.667%; }
  .@{prefix}-lg17 { width: 70.833%; }
  .@{prefix}-lg18 { width: 75.000%; }
  .@{prefix}-lg19 { width: 79.167%; }
  .@{prefix}-lg20 { width: 83.333%; }
  .@{prefix}-lg21 { width: 87.500%; }
  .@{prefix}-lg22 { width: 91.667%; }
  .@{prefix}-lg23 { width: 95.833%; }
  .@{prefix}-lg24 { width: 100.000%; }
}
