@charset "utf-8";
@import "../../theme/style";

@checkbox: ~"@{prefix}-checkbox";

.@{checkbox} {

  &-container {
    position: relative;
    display: inline-block;
  }

  input {
    display: none;
  }

  label {
    cursor: pointer;
  }

  input[disabled] + label {
    cursor: not-allowed;
  }
  /* override */
  .@{icon-checkbox} {
    float: left;
    margin: 8px 6px 0 0;
  }

}