@charset "utf-8";
.dk-tab {
  .tab-nav {
    ul, li {
      list-style: none;
    }
    li {
      display: inline-block;
      padding: 0 24px;
      line-height: 45px;
      border-bottom: 1px solid #e8e8e8;
      margin-bottom: -1px;
      &:hover {
        cursor: pointer;
        color: #409eff;
      }
      &.curr {
        color: #409eff;
        border-bottom: 1px solid #409eff;
      }
    }
  }
  .tab-container {
    background: #fff;
    border-top: 1px solid #e8e8e8;
    li {
      display: none;
      height: 200px;
      &.curr {
        display: block;
      }
    }
  }
}