@charset "utf-8";
@import "../../theme/style";

@table: ~"@{prefix}-table";

.@{table} {
  white-space: nowrap;
  &-container {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  table {
    border: 1px solid #e8e8e8;
    border-collapse: collapse;
    width: 100%;
    thead {
      .all-check {
        vertical-align: middle;
      }
    }
    tr {
      border-bottom: 1px solid #e8e8e8;
      text-align: center;
      &.odd {
        background: #f8f8f8;
      }
      &:hover {
        background: #f8f8f8;
      }
      &.selected {
        background: #3399ff38;
      }
    }
    th {
      background: #f8f8f8;
      height: @height-table-th;
      border-right: 1px solid #e8e8e8;
      &.sort {
        user-select: none;
        &:hover {
          cursor: pointer;
        }
      }
      .icon {
        float: right;
      }
    }
    td {
      height: @height-table-td;
      white-space: nowrap;
      border-right: 1px solid #e8e8e8;
      &.wrap {
        padding: 10px 5px;
        line-height: normal;
        white-space: normal;
        word-break: break-all;
      }
      &.title {
        text-align: left;
        background: #409eff;
        border-left: 1px solid #409eff;
        border-top: 1px solid #409eff;
        color: #fff;
        padding: 0 10px;
      }
    }
  }
  .fold {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border-radius: @border-radius-size;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    border: 1px solid #e2e2e2;
    color: #999;
    font-size: 16px;
    &:hover {
      cursor: pointer;
      &.open, &.close {
        border: 1px solid #409eff;
        color: #409eff;
      }
    }
    &.open {
      &:before {
        content: '+';
      }
    }
    &.close {
      &:before {
        content: '-';
      }
    }
  }
}
