@charset "utf-8";
@import "../../theme/style";
@group: ~"@{prefix}-group";
.@{group} {
  .@{group}-container {
    overflow: hidden;
  }
  .@{group}-item {
    display: inline-block;
    vertical-align: top;
  }
}
