@charset "utf-8";
.dk-group {
  vertical-align: top;
  .dk-group-items {
    display: inline-block;
    .dk-button,
    .dk-checkbox,
    .dk-input,
    .dk-link,
    .dk-radio,
    .dk-span,
    .dk-select,
    .dk-selects,
    .dk-textarea,
    .dk-upload {
      display: inline-block;
      margin-right: 8px;
    }
  }
}
