@charset "utf-8";
@import "../../theme/style";

@link: ~"@{prefix}-link";

.@{link} {
  .@{link}-container {
    overflow: hidden;
    .@{link}-item {
      display: inline-block;
      vertical-align: top;
    }
    a {
      text-decoration: none;
      color: #409eff;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
