@charset "utf-8";
@import "../../theme/style";

@pager: ~"@{prefix}-pager";

.@{pager} {
  &-container {
    display: inline-block;
  }
  a {
    display: inline-block;
    border: 1px solid @border-color;
    border-radius: @border-radius-size;
    height: @height-pager;
    width: @height-pager;
    line-height: @height-pager;
    color: #666;
    margin-right: 8px;
    text-decoration: none;
    text-align: center;
    &:hover {
      color: #409eff;
      border: 1px solid @theme-color;
      box-shadow: 0 0 2px #e8e8e8;
    }
    &.curr {
      color: #409eff;
      border: 1px solid #409eff;
      box-shadow: 0 0 2px #e8e8e8;
    }
    &.disabled {
      opacity: .5;
      cursor: not-allowed;
      &:hover {
        box-shadow: none;
        border: 1px solid @border-color-hover;
      }
    }
    &.dot {
      border: 0;
      &:hover {
        border: none;
        box-shadow: none;
      }
    }
  }
}